{
  "extends": "airbnb",
  "rules": {
    // Override the airbnb defaults here
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "code": 110
      }
    ],
    "no-unused-vars": "warn",
    "jsx-a11y/control-has-associated-label": "off"
  }
}
